# Random files
*~
\#*

# Necessary for local development environment only
uwsgi-alt.ini

# Contents of static_dir folder anywhere in repository
**/static_dir/*

# Frontend folder anywhere in repository
**/frontend

# Compiled python bytecode
**/__pycache__/*

# Node modules
**/node_modules/
**yarn.lock
**npm-debug.log

# SQLite3 database
**.sqlite
